.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/forgot-bg.svg') fixed 100vw;
    min-height: 100vh;
    width: 100vw;
    padding: 50px 50px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
    --accent-color: #D856FF;
    /* background-color: white; */
    width: 100vw;
    max-width: 452px;
    padding: 30px 0 100px 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.87);
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: scroll;
}
@media (max-height: 1110px) {
    .form {
        gap: 20px;
    }
}
@media (max-width: 450px) {
    .form {
        gap: 10px;
    }
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.auth_code {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    max-width: 350px;
}
.auth_code_input {
    /* width: 100%; */
    flex: 1;
    /* background-color: red; */
}
.auth_code_btn {
    /* padding: 10px; */
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 20%;
}
@media (max-width: 400px) {
    .auth_code {
        gap: 5px;
    }
    .auth_code_btn {
        width: fit-content;
        transform: translateX(20px);
    }
}
.auth_code_btn:hover {
    color: white;
    background-color: var(--primary-color);
}
.finish_btn {
    background-color: var(--accent-color);
    border: 2px var(--accent-color) solid;
    border-radius: 50px;
    width: 100%;
    max-width: 300px;
    min-height: 50px;
    padding-block: 5px;
    font-size: 2rem;
    color: white;
    margin-top: 10px;
    transition: all 150ms;
}
.finish_btn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--accent-color);
}
@media (max-width: 500px) {
    .finish_btn {
        min-height: 20px;
        font-size: 1rem;
        width: 80%;
    }
}

.smalls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    max-width: 345px;;
    font-size: 0.8rem;
    gap: 10px;
    padding-inline: 20px;
}
.small_left {
    text-decoration: none;
    color: black;
}
.small_left:hover {
    text-decoration: underline;
}
.small_right {
    color: #413838;
}

.externals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 345px;
}
.externals_title {
    color: #939393;
}
.external_images {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}