.container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 30px var(--r-gap);
    padding: var(--padding);
    width: 100vw;
    max-width: 1440px;
    min-height: 100vh;

    --r-gap: 20px;
    --padding: 50px;
    --min-widths: 300px;
    --accent-color: #81B0F8 ;
}

.header {
    grid-row: 1/2;
    grid-column: 1/4;
    min-height: 100px;
    min-width: var(--min-widths);

    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}

.header img {
    width: 80px;
    height: 70px;
}
.header_center {
    color: var(--primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.left {
    grid-row: 2/9;
    grid-column: 1/2;
    background-color: royalblue;
    min-width: var(--min-widths);
    padding: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.left_time {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-right: 0;
    border-radius: 15px;
    background: rgba(129, 176, 248, 0.46);
    width: 100%;
    /* min-width: 200px; */
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}
.cart_details_info_title {
    color: #827F7F;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.horizontal_line {
    height: 2px;
    width: 100%;
    background: #C8C5C5;
    margin: 50px 0 50px 0;
}

.cart_details {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    padding-right: 20px;
}
.cart_details_item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.cart_details_info {
    height: calc(100% + 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.cart_details_info_des {
    display: flex;
    align-items: center;
    gap: 5px;
}

.right {
    grid-row: 2/9;
    grid-column: 2/4;
    background-color: salmon;
    min-width: var(--min-widths);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 0;
}

@media (max-width: 710px) {
    .left {
        grid-row: 2/5;
        grid-column: 1/4;
    }
    .right {
        grid-row: 5/9;
        grid-column: 1/4;
    }
}
@media (max-width: 410px) {
    .container {
        padding: 50px 0;
    }
}


.input,
.expire_date_container,
.pass_2_container {
    width: 100%;
    max-width: 540px;
}
.input input {
    text-align: center;
}


.expire_date_container,
.pass_2_container,
.captcha {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.expire_date_container .input {
    flex: 1;
    max-width: 182px;
}
.pass_2_container .input,
.captcha .input {
    flex: 1;
    max-width: 200px;
}

.captcha {
    max-width: 300px;
    justify-content: center;
}

.button {
    padding: 18px;
    background: none;
    border: none;
    border-radius: 15px;
    background: #81B0F8;
    color: #000;
    transition: all 50ms;
}
.button:hover {
    background-color: var(--accent-color);
    opacity: 0.8;
}
.button:active {
    opacity: 00.5;
}

.button.loading {
    position: relative;
    background-color: var(--primary-color);
    color: var(--primary-color);
}
.button.loading::before,
.button.loading::after {
    content: '';
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    animation: loadbtn 1s linear infinite both;
}
@keyframes loadbtn {
    20% {
        height: 5px;
    }
    40% {
        /* height: 10; */
        /* width: 20px; */
    }   
    80% {
        height: 30px;
    }
}
.button.loading::before {
    top: 50%;
    left: calc(50% - 7px);
    transform: translate(-50%, -50%);
    animation-delay: 500ms;
}
.button.loading::after {
    top: 50%;
    right: calc(50% - 7px);
    transform: translate(50%, -50%);
}

.popup {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: scaleY(0);
    transition: all 1s;
    z-index: 1000;
}
.popup.active {
    transform: scaleY(1);
}