.finish_btn {
    background-color: var(--accent-color);
    border: 2px var(--accent-color, var(--primary-color)) solid;
    border-radius: 50px;
    width: 100%;
    max-width: 300px;
    min-height: 50px;
    padding-block: 5px;
    color: white;
    margin-top: 10px;
    transition: all 150ms;
}
.finish_btn:hover {
    background-color: rgba(255,255,255, 0) !important;
    color: var(--accent-color);
}
@media (max-width: 500px) {
    .finish_btn {
        min-height: 20px;
        font-size: 1em;
        width: 80%;
    }
}