.container {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.my_input {
    max-width: 70%;
    flex: 2;
    justify-content: flex-start;
}
.my_input div:last-child {
    flex-direction: row-reverse;
}
@media (max-width: 400px) {
    .code {
        width: 70px;
    }
}