.container {
    direction: rtl;
    max-width: 350px;
    width: 100%;
    --accent-color: #D856FF;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-block: 12px;
    padding-inline: 20px;
}
.title {
    font-size: 1em;
}
@media (max-width: 400px) {
    .container {
        gap: 5px;
    }
    .title {
        font-size: 0.8em;
    }
}

.input_n_icon {
    display: flex;
    padding: 0 8px;
    /* border-bottom: 2px lightgray solid; */
    transition: all 300ms;
    position: relative;
}
@media (max-width: 400px) {
    .input_n_icon {
        padding: 0 0;
    }
}
/* .typing { */
/* } */
.input_n_icon::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    transition: all 500ms;
    background-color: lightgray;
}
.input_n_icon::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    transition: all 500ms;
    background-color: lightgray;
}
.input_n_icon.typing::after {
    background-color: var(--accent-color);
    width: 100%;
}
.input {
    font-size: 1.2em;
    border: none;
    background: none;
    width: 100%;
    /* border: 1px black solid; */
    height: 45px;
    transition: all 300ms;
}
.input:focus {
    color: var(--accent-color);
    outline: none;
    border-bottom-color: var(--accent-color);
    font-size: 1.5em;
}
@media (max-width: 400px) {
    .input {
        height: 30px;
        font-size: 0.8em;
    }
    .input:focus {
        font-size: 1em;
    }
}