.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    padding-top: 100px;
    gap: 30px;
    max-width: 1440px;
    width: 100vw;
}
.images_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px; */
    flex-wrap: wrap;
    gap: 98px;
    max-width: 1440px;
    width: 100%;
}
.title {
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    /* width: 100%; */
    text-align: right;
}
.title::before {
    content: '';
    display: block;
    height: 2px;
    width: calc(100% + 20px);
    background-color: var(--primary-color);
    position: absolute;
    bottom: -5px;
    right: 0;
}
.card {
    width: 100%;
}
.card img {
    width: 100%;
}